/*
* This file was sourced and modified from the following repo (licensed as public domain):
* https://github.com/sameemul-haque/dotfiles/blob/mocha/.config/waybar/style.css
* commit: d5523b7b2b0cfd89e515c2a418aecdf0f1a6f792
* pulled on 2025-11-03
**/

/*
Copied from https://catppuccin.com/palette/
(specifically used macchiato)
*/
@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext-1 #b8c0e0;
@define-color subtext-0 #a5adcb;
@define-color overlay-2 #939ab7;
@define-color overlay-1 #8087a2;
@define-color overlay-0 #6e738d;
@define-color surface-2 #5b6078;
@define-color surface-1 #494d64;
@define-color surface-0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: @mantle;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @base;
  color: @text;
}

#workspaces button.active {
  color: @base;
  background-color: @text;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @base;
  background-color: @text;
}

#workspaces button.urgent {
  background-color: @red;
}

#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#power-profiles-daemon,
#backlight,
#idle_inhibitor,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: @base;
  color: @mantle;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  /* WHY DOES WAYBAR'S CSS NOT SUPPORT RELATIVE PATHS :sob:*/
  background-image: url("/home/phenegan/Pictures/icons/bar-icon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#memory {
  background-color: @sky;
}

#battery {
  background-color: @lavender;
}

#battery.warning {
  background-color: @peach;
}

#battery.critical,
#battery.urgent {
  background-color: @red;
}

#battery.charging {
  background-color: @green;
  color: @mantle;
}

#backlight {
  background-color: @sky;
}

#wireplumber {
  background-color: @lavender;
}

#network {
  background-color: @teal;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: @mauve;
}

#idle_inhibitor {
  background-color: @mauve;
  padding-left: 6px;
  padding-right: 12px;
}

#power-profiles-daemon {
  padding-right: 17px;
}

#power-profiles-daemon.performance {
  background-color: @red;
}

#power-profiles-daemon.balanced {
  background-color: @blue;
}

#power-profiles-daemon.power-saver {
  background-color: @green;
}

#custom-power {
  background-color: @pink;
}


tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
